beautifulsoup4==4.4.1
bs4==0.0.1
click==6.4
decorator==4.0.9
Django==1.9.4
django-cors-headers==1.1.0
django-extensions==1.6.1
djangorestframework==3.3.3
geocoder==1.10.1
psycopg2==2.6.1
ratelim==0.1.6
requests==2.9.1
six==1.10.0
