{% extends 'skill_match/base.html' %}
{% load staticfiles %}

{% block title %} Henderson API Docs {% endblock %}

{% block content %}

    <h3 style="color: #000">Henderson Skill Match API Reference</h3>
    <br>
    <h3>Parks</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Endpoint</th>
                <th>Method</th>
                <th>Example</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <!-- List Parks --------------------------------------------------------->
            <tr>
                <td class="col-md-3">/api/parks</td>
                <td class="col-md-1">GET</td>
                <td class="col-md-3">
                    <a target="_blank" href="{% url 'list_parks' %}">
                        /api/parks
                    </a>
                </td>
                <td class="col-md-5 description">
                    <h4>List Parks</h4>
                    <p>
                        Fetches the 40 closest parks by location. Location can be provided with a zip
                        code or coordinates (see examples below). If no location is provided, the
                        default location is Henderson, NV.
                    </p>
                </td>
            </tr>
            <!-- List Parks with Courts --------------------------------------------------------->
            <tr>
                <td class="col-md-3">
                    <p>/api/parks?courts=[anything]</p>
                </td>
                <td class="col-md-1">GET</td>
                <td class="col-md-3">
                    <a target="_blank" href="{% url 'list_parks' %}?courts=z">
                        /api/parks?courts=z
                    </a>
                </td>
                <td class="col-md-5 description">
                    <h4>List Parks with Courts</h4>
                    <p>
                        Fetches nearest parks with courts. In other words, it excludes all parks with no
                        courts.
                    </p>
                </td>
            </tr>
            <!-- List Parks by Sport --------------------------------------------------------->
            <tr>
                <td class="col-md-3">
                    <p>/api/parks?sport=[sport]</p>
                </td>
                <td class="col-md-1">GET</td>
                <td class="col-md-3">
                    <a target="_blank" href="{% url 'list_parks' %}?sport=tennis">
                        /api/parks?sport=tennis
                    </a>
                </td>
                <td class="col-md-5 description">
                    <h4>List Parks by Sport</h4>
                    <p>
                        Fetch closest (up to) 40 parks with a court of a certain sport.
                    </p>
                </td>
            </tr>
            <!-- Search Park name or zip code --------------------------------------------------------->
            <tr>
                <td class="col-md-3">
                    <p>/api/parks?search=[zip_code or park_name]</p>
                </td>
                <td class="col-md-1">GET</td>
                <td class="col-md-3">
                    <p>
                        <a target="_blank" href="{% url 'list_parks' %}?search=89123">
                            /api/parks?search=89123
                        </a>
                    </p>
                    <p>
                        <a target="_blank" href="{% url 'list_parks' %}?search=whitney mesa">
                            /api/parks?search=whitney mesa
                        </a>
                    </p>
                </td>
                <td class="col-md-5 description">
                    <h4>Search by zip code or park name</h4>
                    If search is a 5 digit number, this fetches 40 parks by location using the zip code provided.
                    If search is anything else, it uses the search term to find parks with that name. Currently the
                    parks fetched must contain all search terms in the park.name.
                </td>
            </tr>
            <!-- List Parks by location --------------------------------------------------------->
            <tr>
                <td class="col-md-3">
                    <p>/api/parks?lat=[latitude]&lng=[longitude]</p>
                </td>
                <td class="col-md-1">GET</td>
                <td class="col-md-3">
                    <a target="_blank" href="{% url 'list_parks' %}?lat=35.9855989&lng=-115.0748409">
                        /api/parks?lat=35.9855989&lng=-115.0748409
                    </a>
                </td>
                <td class="col-md-5 description">
                    <h4>List parks by location</h4>
                    <p>
                        Fetches closest 40 parks using latitude and longitude. Great for querying by user location.
                    </p>
                </td>
            </tr>
            <!-- Park Detail --------------------------------------------------------->
            <tr>
                <td class="col-md-3">
                    <p>/api/parks/:id</p>
                </td>
                <td class="col-md-1">GET</td>
                <td class="col-md-3">
                    <a target="_blank" href="{% url 'hendersonpark-detail' 42 %}">
                        /api/parks/42
                    </a>
                </td>
                <td class="col-md-5 description">
                    <h4>Park Detail</h4>
                    <p>
                        Return detail for a particular park.
                    </p>
                </td>
            </tr>
        <tbody>
    </table>

    <!-- MATCHES --------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <h3>Matches - List and Create</h3>
    <table class="table table-hover">
            <thead>
                <tr>
                    <th>Endpoint</th>
                    <th>Method</th>
                    <th>Example</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <!-- List Matches --------------------------------------------------------->
                <tr>
                    <td class="col-md-3">/api/matches</td>
                    <td class="col-md-1">GET</td>
                    <td class="col-md-3">
                        <a target="_blank" href="{% url 'list_matches' %}">
                            /api/matches
                        </a>
                    </td>
                    <td class="col-md-5 description">
                        <h4>List Matches</h4>
                        <p>
                            Fetches the 40 closest matches by location. Location can be provided with a zip
                            code or coordinates (see examples below). If no location is provided, the
                            default location is Henderson, NV.
                        </p>

                    </td>
                </tr>
                <!-- Create Match --------------------------------------------------------->
                <tr>
                    <td class="col-md-3">/api/matches</td>
                    <td class="col-md-1">POST</td>
                    <td class="col-md-3">
                        <a href="{% url 'list_matches' %}" class="post">/api/matches</a>
                        <pre>
{
    "title": "Bob's Match #1",
    "description": "Looking for...",
    "park": "https://skill-match-henderson.herokuapp.com/api/parks/174",
    "sport": "Basketball",
    "other": "",
    "skill_level": 82,
    "date": "2016-06-01",
    "time": "18:30"
}</pre>
                    </td>
                    <td class="col-md-5 description">
                        <h4>Create Match</h4>
                        <p>
                            POST with the format in the example. The url passed into park is available with any park details you fetch.
                        </p>
                    </td>
                </tr>
                <!-- List User Matches --------------------------------------------------------->
                <tr>
                    <td class="col-md-3">
                        <p>/api/matches?username=[username]</p>
                    </td>
                    <td class="col-md-1">GET</td>
                    <td class="col-md-3">
                        <a href="https://skill-match-henderson.herokuapp.com/api/matches?username=tennismonster" target="_blank">
                            /api/matches?username=tennismonster
                        </a>
                    </td>
                    <td class="col-md-5 description">
                        <h4>List User Matches</h4>
                        <p>
                            Fetches all matches for a certain user. It is not ordered by location. It
                            is ordered by date of the match with the most recent matches first. This
                            is great for a user profile page.
                        </p>
                    </td>
                </tr>
                <!-- List Matches by Sport --------------------------------------------------------->
                <tr>
                    <td class="col-md-3">
                        <p>/api/matches?sport=[sport]</p>
                    </td>
                    <td class="col-md-1">GET</td>
                    <td class="col-md-3">
                        <a href="https://skill-match-henderson.herokuapp.com/api/matches?sport=tennis" target="_blank">
                            /api/matches?sport=tennis
                        </a>

                    </td>
                    <td class="col-md-5 description">
                        <h4>List Matches by Sport</h4>
                        <p>
                            Fetch closest (up to) 40 matches of a certain sport.
                        </p>
                    </td>
                </tr>
                <!-- List Matches by lat and long --------------------------------------------------------->
                <tr>
                    <td class="col-md-3">
                        <p>/api/matches?lat=[latitude]&lng=[longitude]</p>
                    </td>
                    <td class="col-md-1">GET</td>
                    <td class="col-md-3">
                        <a href="https://skill-match-henderson.herokuapp.com/api/matches?lat=35.9855989&lng=-115.0748409" target="_blank">
                            /api/matches?lat=35.9855989&lng=-115.0748409
                        </a>
                    </td>
                    <td class="col-md-5 description">
                        <h4>List Matches by lat and long</h4>
                        <p>
                            Fetches closest 40 parks using latitude and longitude. Great for querying by user location.
                        </p>
                    </td>
                </tr>
                <!-- List Matches by zip code --------------------------------------------------------->
                <tr>
                    <td class="col-md-3">
                        <p>/api/matches?zip=[zip_code]</p>
                    </td>
                    <td class="col-md-1">GET</td>
                    <td class="col-md-3">
                        <a href="https://skill-match-henderson.herokuapp.com/api/matches?zip=89077" target="_blank">
                            /api/matches?zip=89077
                        </a>
                    </td>
                    <td class="col-md-5 description">
                        <h4>List Matches by zip code</h4>
                        <p>
                            Fetches closest (up to) 40 matches using zip code for location.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

    <!-- MATCHE UPDATE --------------------------------------------------->
    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <h3>Match - Update</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Endpoint</th>
                <th>Method</th>
                <th>Example</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <!-- MATCH DETAIL and Updates ---------------------------------------->
            <!-------------------------------------------------------------------->
            <!-------------------------------------------------------------------->
            <!-- Match Detail Page --------------------------------------------------------->
            <tr>
                <td class="col-md-3">
                    <p>/api/matches/:id</p>
                </td>
                <td class="col-md-1">GET</td>
                <td class="col-md-3">
                    <a href="https://skill-match-henderson.herokuapp.com/api/matches/5" target="_blank">
                        /api/matches/5
                    </a>
                </td>
                <td class="col-md-5 description">
                    <h4>Match Detail</h4>
                    <p>Fetches details for a certain match</p>
                </td>
            </tr>
            <!-- Match Detail Page: Update, Delete --------------------------------------------------------->
            <tr>
                <td class="col-md-3">
                    <p>/api/matches/:id</p>
                </td>
                <td class="col-md-1">PUT</td>
                <td class="col-md-3">
                    <p class="post">/api/matches/1887</p>
                    <pre>
{
"title": "Bob's Match #1",
"description": "Looking for...",
"park": "https://skill-match-henderson.herokuapp.com/api/parks/174",
"sport": "Basketball",
"other": "",
"skill_level": 82,
"date": "2016-06-01",
"time": "15:30"
}</pre>
                </td>
                <td class="col-md-5 description">
                    <h4>Match Update and Delete</h4>
                    <p>
                        Update or Delete a match. Returns the updated match.
                    </p>
                </td>
            </tr>
            <!-- Join Match --------------------------------------------------------->
            <tr>
                <td class="col-md-3">/api/matches/:id/join</td>
                <td class="col-md-1">PUT</td>
                <td class="col-md-3">
                    <p class="post">/api/matches/148/join</p>
                    <pre>{}</pre>
                </td>
                <td class="col-md-5 description">
                    <h4>Join Match</h4>
                    <p>
                        Logged-in user can join a match. Will return an error if not logged in.
                        Just PUT an empty {} to the endpoint (i think). Returns the match.
                    </p>
                </td>
            </tr>
            <!-- Leave Match --------------------------------------------------------->
            <tr>
                <td class="col-md-3">/api/matches/:id/leave</td>
                <td class="col-md-1">PUT</td>
                <td class="col-md-3">
                    <p class="post">/api/matches/148/leave</p>
                    <pre>{}</pre>
                </td>
                <td class="col-md-5 description">
                    <h4>Leave Match</h4>
                    <p>
                        Logged-in user can leave a match (during the period AFTER they join and BEFORE
                        the match creator confirms it). Just PUT an empty {}. Returns the match.
                    </p>
                </td>
            </tr>
            <!-- Decline Match --------------------------------------------------------->
            <tr>
                <td class="col-md-3">/api/matches/:id/decline</td>
                <td class="col-md-1">PUT</td>
                <td class="col-md-3">
                    <p class="post">/api/matches/148/decline</p>
                    <pre>{}</pre>
                </td>
                <td class="col-md-5 description">
                    <h4>Decline Match</h4>
                    <p>
                        Logged-in match creator can decline a match (AFTER it has been joined).
                        Just PUT an empty {}. Returns the match.
                    </p>

                </td>
            </tr>
            <!-- Confirm Match --------------------------------------------------------->
            <tr>
                <td class="col-md-3">/api/matches/:id/confirm</td>
                <td class="col-md-1">PUT</td>
                <td class="col-md-3">
                    <p class="post">/api/matches/148/confirm</p>
                    <pre>{}</pre>
                </td>
                <td class="col-md-5 description">
                    <h4>Confirm Match</h4>
                    <p>
                        Logged-in match creator can confirm the match (AFTER it has been joined).
                        JustPUT an empty {}. Returns the match
                    </p>

                </td>
            </tr>
            <!-- Cancel Match --------------------------------------------------------->
            <tr>
                <td class="col-md-3">**/api/matches/:id/cancel</td>
                <td class="col-md-1">PUT</td>
                <td class="col-md-3">
                    <p class="post">/api/matches/148/cancel</p>
                    <pre>{}</pre>
                </td>
                <td class="col-md-5 description">
                    <h4>Cancel Match</h4>
                    <p>
                        Logged-in user who is part of a confirmed match, can cancel the match. Note that if it
                        is canceled 24 hours before their match, it will affect their punctuality rating.
                        **This endpoint has not been set yet.
                    </p>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- USERS ----------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <h3>USERS</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Endpoint</th>
                <th>Method</th>
                <th>Example</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-3">/users/register</td>
                <td class="col-md-1">POST</td>
                <td class="col-md-3">
                    <a class="post" href="{% url 'register_user' %}" target="_blank">
                        /users/register
                    </a>
                    <pre>
{
"username": "sue",
"email": "sue@sue.com",
"password": "password",
"profile": {
    "gender": "Female",
    "age": "20's"
}
}</pre>
                </td>
                <td class="col-md-5 description">
                    <h4>Register New User</h4>
                    <p>
                        New users must have a profile that requires gender and age. Both profile fields have choice
                        options as follows.
                    </p>
                    <p>Gender: 'Male', 'Female', 'Other'</p>
                    <p>Age: 'Under 18', '18-19', "20's", "30's", "40's", "50's", "60+".</p>

                </td>
            <!-- Detail Update User ----------------------------------------------------------->
            <tr>
                <td class="col-md-3">/users/:id</td>
                <td class="col-md-1">GET, PUT, DELETE</td>
                <td class="col-md-3">
                    <a class="post" href="{% url 'user-detail' 5 %}" target="_blank">
                        /users/5
                    </a>
                    <pre>
{
"username": "sue",
"email": "sue@sue.com",
"profile": {
    "gender": "Female",
    "age": "20's",
    "wants_texts": true,
    "phone_number": "702-249-3748"
}
}</pre>
                </td>
                <td class="col-md-5 description">
                    <h4>Register New User</h4>
                    <p>
                        For now, every field used for create are also required for updates, except for "password".
                        You don't need the password because only a logged-in user may see his/her own details, and perform updates on them.
                        Updating the User Profile can include additonal options. These options are:
                    </p>
                    <p>want_texts: true or false (boolean)</p>
                    <p>phone_number: in the format xxx-xxx-xxxx </p>

                </td>
            </tr>
            <!-- Obtain Auth Token ----------------------------------------------------------->
            <tr>
                <td class="col-md-3">/users/obtain-token</td>
                <td class="col-md-1">POST</td>
                <td class="col-md-3">
                    <a class="post" href="{% url 'obtain_auth_token' %}" target="_blank">
                        /users/obtain-token
                    </a>
                    <pre>
{
"username": "test_dude",
"password": "ironyard"
}</pre><p>Response</p><pre>
{
"token": "872ace410c8arst3...",
"username": "test_dude",
"user_id": 232
}</pre>
                </td>
                <td class="col-md-5 description">
                    <h4>Obtain Auth Token</h4>
                    <p>
                        Retrieve an auth token the user can use for future
                        requests. Also fetches the username and user-id. Use this token
                        in future request in the header as Authorization Token: arst09ars0...
                    </p>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- FEEDBACK--------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <h3>Feedback</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Endpoint</th>
                <th>Method</th>
                <th>Example</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-3">/feedbacks</td>
                <td class="col-md-1">POST</td>
                <td class="col-md-3">
                    <a class="post" href="{% url 'create_feedback' %}" target="_blank">
                        /api/feedbacks
                    </a>
                    <pre>
{
"match": 19,
"skill": 75,
"sportsmanship": 90,
"punctuality": "On Time"
}</pre>
                </td>
                <td class="col-md-5 description">
                    <h4>Create Feedback</h4>
                    <p>
                        Simple feedback form. If it is a 2 player match, you do not need to provide
                        player id.
                    </p>
                    <p>punctuality: "On Time", "No Show", "Little bit late", "Over 10 min late"</p>
                </td>
        </tbody>
    </table>


    {% endblock %}